{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}Residential Azevedo - Home{% endblock %}

{% block conteudo %}
    <!-- Slider -->

<div class="slider">
    <div class="container">
        <div class="row">
            <div class="span10 offset1">
                <div class="flexslider">
                    <ul class="slides">

                        <li data-thumb={% static 'img/slider/1.jpg' %}>
                            <img src={% static 'img/slider/1.jpg' %}>

                            <p class="flex-caption">Casas com um belo padrão de moradia. </p>
                        </li>
                        <li data-thumb={% static 'img/slider/2.jpg' %}>
                            <img src={% static 'img/slider/2.jpg' %}>

                            <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        </li>
                        <li data-thumb={% static 'img/slider/5.jpg' %}>
                            <img src={% static 'img/slider/5.jpg' %}>

                            <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit
                                amet, consectetur.</p>
                        </li>
                        <li data-thumb={% static 'img/slider/6.jpg' %}>
                            <img src={% static 'img/slider/6.jpg' %}>

                            <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Site Description -->
<div class="presentation container">
    <h2>O <span class="violet">Residential Azevedo</span>, é um sistema de aluguel de imóvel residencial.</h2>

    <p>Focado em oferecer o que há de melhor em moradia e conforto para você e sua família.</p>
</div>


<!-- Latest Work -->
<div class="portfolio container">
    <div class="portfolio-title">
        <h3>Our Latest Work</h3>
    </div>
    <div class="row">
        <div class="work span3">
            <img src={% static 'img/portfolio/work1.jpg' %}, alt="">
            <h4>Lorem Website</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>

            <div class="icon-awesome">
                <a href={% static 'img/portfolio/work1.jpg' %}, rel="prettyPhoto"><i class="icon-search"></i></a>
            </div>
        </div>
        <div class="work span3">
            <img src={% static 'img/portfolio/work2.jpg' %}, alt="">
            <h4>Ipsum Logo</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>

            <div class="icon-awesome">
                <a href={% static 'img/portfolio/work2.jpg' %}, rel="prettyPhoto"><i class="icon-search"></i></a>
            </div>
        </div>
        <div class="work span3">
            <img src={% static 'img/portfolio/work3.jpg' %}, alt="">
            <h4>Dolor Prints</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>

            <div class="icon-awesome">
                <a href={% static 'img/portfolio/work3.jpg' %}, rel="prettyPhoto"><i class="icon-search"></i></a>
            </div>
        </div>
        <div class="work span3">
            <img src={% static 'img/portfolio/work4.jpg' %}, alt="">
            <h4>Sit Amet Website</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>

            <div class="icon-awesome">
                <a href={% static 'img/portfolio/work4.jpg' %}, rel="prettyPhoto"><i class="icon-search"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}